body {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
}
#divmain {
  margin: 50px;
  background-color: rgb(226, 147, 173);
  padding: 70px;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 700px;
}
#div1i {
  background-color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  border: 5px groove;
  border-color: rgb(53, 51, 51);
}
#div2i {
  background-color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  border: 5px groove;
  border-color: rgb(53, 51, 51);
}
#div3i {
  background-color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  border: 5px groove;
  border-color: rgb(53, 51, 51);
}
#div4i {
  background-color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  border: 5px groove;
  border-color: rgb(53, 51, 51);
}
#div5i {
  background-color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  border: 5px groove;
  border-color: rgb(53, 51, 51);
}
#div6i {
  background-color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  border: 5px groove;
  border-color: rgb(53, 51, 51);
}
.s1 {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 5px;
  padding: 5px;
  font-style: bold;
  margin-bottom: -7px;
  border-radius: 15px;
}
.arrow {
  text-align: right;
}
.zero {
  text-align: left;
}
.div1ii {
  display: flex;
  justify-content: space-around;
  background-color: rgb(223, 217, 217);
  margin: 5px;
  padding: 5px;
  margin-top: -4px;
  margin-bottom: -5px;
  border-radius: 15px;
}
.btn1 {
  border-radius: 10px;
  background-color: black;
  color: white;
}
.dot {
  height: 7px;
  width: 7px;
  background-color: black;
  border-radius: 15px;
}
.dot1 {
  height: 7px;
  width: 7px;
  background-color: rgb(182, 155, 182);
  border-radius: 15px;
}
#dots {
  display: flex;
  justify-content: center;
}
#div1 {
}
